language: node_js
node_js:
    - "node"
    - "6"
    - "5"
    - "4"
sudo: required
dist: trusty
env:
    - CXX=g++-6
before_install:
    - "npm install -g node-gyp"
addons:
    apt:
        packages:
            - g++
